@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');

body {
    font-family: "Poppins", "Helvetica", sans-serif;
    font-size; 16px;
    padding: 0;
    color: dimgray;
    margin: 0;
}

h1 {
    font-size: 3em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 300;
}

p {
    margin: 1em;
    margin-bottom: 20px;
    font-size: 1.3em;
    line-height: 1.5; 
    float: left;
}

a {
    text-decoration: none;
    color: gray;
}







.hero {
    background-image: url(../images/header.jpg);
    color: white;
    text-align: left;
    font-size: 2.5em;
    padding: 2em;
    line-height: 1em;
}

.hero h1 {
    margin-bottom: 0px;
    padding: 0;
    line-height: 1em;
}





.content {
    max-width: 80%;
    float: right;
    margin: 40px;
    margin-left: 100px;
    border:2px solid lightgray;
}

.separate h1{
    width: 300px;
    margin-top:-40px;
    margin-left:30px;
    background:white;
    text-align: center;
}






nav {
    max-width: 150px;
    position: fixed;
    margin-left: .5em; 
    background-color: white;
   /* border: 2px solid whitesmoke;
    box-shadow: 10pt 10pt lightgray; */
}


nav ul {
    list-style: none;
    padding: 0;

}

nav ul li {
    padding: 1em;
}







/* Works */
div.img {
    margin: 30px;
    float: left;
    width: 300px;
    /* border: solid 2pt whitesmoke;
    box-shadow: 10pt 10pt lightgray; */
}

div.img:hover {
    
}

div.img img {
    width: 100%;
    height: auto;
}




